@{
    ViewBag.Title = "Πρόγραμμα Διαχείρισης Ιερέων Μητρόπολης";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <h3>Επεξήγηση Λειτουργίας Προγράμματος/Καρτελών</h3>
    <ol>
        <li>Πατήστε στην καρτέλα <strong>"Ιερείς"</strong>  για να δειτε όλους τους ιερείς που έχουν εισαχθεί στην βάση στον πίνακα των ιερέων.</li>
        <li>
            Αν κάποιος ιερέας λείπει πηγαίνετε στην καρτέλα  <strong>
                "Προσθήκη ιερέα"</strong> και προσθέστε τα στοιχεία του.Τα πεδία όνομα και επώνυμο είναι υποχρεωτικά.Ο ιερέας είναι πλεόν έτοιμος και βρίσκεται στην καρτέλα Ιερείς.
            Δώστε του και κάποιον από τους 3 ρόλους (Εφημέριος,Εποχιακός,Ιεροκήρυκας) ώστε να δημιουργηθούν οι λίστες με τις κατηγορίες των ιερέων.
        </li>
        <li>Για διαγραφή ιερέα πατήστε στην καρτέλα <strong>"Διαγραφή Ιερέα"</strong></li>
        <li>Πατήστε στην καρτέλα <strong>"Eκκλησίες"</strong> για να δειτε όλες τις εκκλησίες που έχουν εισαχθεί στην βάση.</li>
    </ol>
    </p>
