@{
    ViewBag.Title = "Επικοινωνία με προγραμματιστή";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Για οποιαδήποτε απορία της εφαρμογής μη διστάσετε, στείλτε μου e-mail στο</strong>   <a href="mailto:greg.tsitsirikis@gmail.com">greg.tsitsirikis@gmail.com</a><br />
</address>