@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Μητρόπολη.jpg" />
    <h1>Υπηρεσία Ιερέων Ιεράς Μητρόπολης Ναυπάκτου </h1>
    <p class="lead">Πρόγραμμα Διαχείρισης Ιερέων, ανάθεσης τους σε εκκλησίες και στατιστικών στοιχείων.</p>
    <img src="~/Μητρόπολη 2.jpg" />
    <br/>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Οδηγιες Εφαρμογης &raquo;</a></p>
</div>


